<!-- header.component.html -->
<header class="bg-teal-600 shadow-sm lg:static lg:overflow-y-visible p-4">
  <div class="flex justify-between gap-x-2 items-center">
    <div class="flex gap-x-4 items-center">
      <div class="flex flex-shrink-0 items-center">
        <img
          (click)="redirectToIndex()"
          class="cursor-pointer hidden md:block h-8 w-auto"
          src="https://revotech.com/assets/images/white_logo.png"
          alt="Revotech"
        />

        <img
          (click)="redirectToIndex()"
          class="cursor-pointer block md:hidden h-8"
          src="../../../assets/app_logo.png"
          alt="Revotech"
        />
      </div>

      <div>
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <svg
              class="h-5 w-5 text-slate-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            id="search"
            name="search"
            (input)="handleSearchInput($event)"
            class="block w-full focus:cursor-text rounded-md border-0 focus:outline-none bg-slate-100 hover:bg-slate-200 cursor-pointer py-1 pl-10 pr-3 text-slate-800 placeholder:text-slate-400"
            placeholder="Search..."
            type="search"
          />
        </div>
        <div
          *ngIf="searchResults"
          class="absolute z-10 w-60 md:w-96 bg-slate-100 rounded shadow-md mt-2 max-h-60 overflow-y-auto"
        >
          <ul *ngIf="searchResults.length > 0; else noResultsFound">
            <li
              *ngFor="let island of searchResults"
              class="p-2 hover:bg-teal-100 cursor-pointer"
              (click)="redirectToShow(island.objectId)"
            >
              <div class="flex items-center gap-x-4">
                <div>
                  <img
                    class="flex-shrink-0 w-14 h-14 rounded"
                    src="{{ island.photo_thumb }}"
                    alt="Island image"
                  />
                </div>
                <div class="text-teal-700 text-center">
                  {{ island.title }}
                </div>
              </div>
            </li>
          </ul>
          <ng-template #noResultsFound>
            <div class="p-4 italic">No results found...</div>
          </ng-template>
        </div>
      </div>
    </div>

    <div>
      <button
        *ngIf="!isLoggedIn()"
        (click)="handleLogin()"
        type="button"
        class="inline-flex items-center gap-x-1.5 rounded-md bg-slate-100 px-2.5 py-1.5 text-sm font-semibold text-teal-900 shadow-sm hover:bg-slate-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600"
      >
        <span class="hidden md:block">Login</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25"
          />
        </svg>
      </button>

      <button
        *ngIf="isLoggedIn()"
        (click)="handleLogout()"
        type="button"
        class="inline-flex items-center gap-x-1.5 rounded-md bg-slate-100 px-2.5 py-1.5 text-sm font-semibold text-teal-900 shadow-sm hover:bg-slate-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600"
      >
        <span class="hidden md:block">Logout</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25"
          />
        </svg>
      </button>
    </div>
  </div>
</header>
