<div class="flex items-center justify-center min-h-screen">
  <div class="text-center -mt-40">
    <h1 class="text-6xl font-bold text-teal-500">Oops!</h1>
    <p class="text-teal-600 text-xl mt-2">
      We can't seem to find the page you're looking for.
    </p>
    <div class="mt-8">
      <button
        (click)="goToIndex()"
        class="text-lg cursor-pointer font-semibold rounded bg-teal-500 text-white px-6 py-3 hover:bg-teal-600 transition-colors duration-200 ease-in-out"
      >
        Go Home
      </button>
    </div>
  </div>
</div>
